# Entorno virtual de Python
.venv/
venv/
__pycache__/

# Archivos de configuración y bases de datos locales ¡IMPORTANTE!
config.json
equipos_ping.json
users.json

# Archivos de configuración del IDE (IntelliJ)
.idea/